




<section>
  <form action="/signup" method="POST" class="form-login col-12 col-sm-10 col-md-8 col-lg-6 mb-3" style="margin-top: 100px; border-color: #255eaf;">
    <div class="row">
      <h1 style="font-weight: bold; color: #255eaf;">Registrate</h1>
      <hr>

      <div class="col-md-6">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" name="name" required>
      </div>

      <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Correo</label>
        <input type="email" class="form-control" id="inputEmail4" name="email" required>
      </div>

      <div class="col-md-12">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword" name="password" required>
      </div>


      <section style="padding-top: 5%;">
        <button class="custom-button" style="background-color: #255eaf; color: white; padding-top:6%; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">
          Registrate
        </button>
      </section>
  </form>
</section>
